.App {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.react-multiple-carousel__arrow {
  background: transparent;
  min-width: auto;
}

.react-parallax  {
  overflow: visible !important;
}
.react-parallax-background-children {
  position: relative !important;
  left: 0 !important;
}

/* .svg {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}

#anim1 {
  opacity: 0;
}
#anim1.step1 {
  opacity: 1;
}
#anim1.step1.step2 {
  opacity: 0;
}

#anim2 {
  opacity: 0;
}
#anim2.step2 {
  opacity: 1;
} */